<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href=".resources/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />

    <title>Login</title>
  </head>

  <body class="bg-nav">
    <nav class="navbar">
      <img
        src="/resources/logo_dark.webp"
        alt="OntarioTechU Icon"
        width="200"
        height="70"
      />
      <a href="" class="navbar-brand text-light" style="font-size: 100"
        >Room Reservation System</a
      >
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 class="text-light display-4 mt-125" style="font-size: 80">
            Start Managing. Create an account.
          </h1>
          <p class="text-light mt-2">
            Account registration for Library Faulty Staff.
          </p>
        </div>
        <div class="col-md-4">
          <div class="card mt-125">
            <img
              src="/resources/icon.png"
              alt="OntarioTechU Icon"
              width="50"
              height="50"
            />
            <div class="card-body">
              <form class="form-group">
                <label for="email">Email:</label><br />
                <input type="text" class="form-control" required /><br />
                <label>Username:</label><br />
                <input type="username" class="form-control" required /><br />
                <label for="password" id="togglePassword">Password:</label
                ><br />
                <input
                  type="password"
                  class="form-control"
                  id="togglePassword"
                  required
                /><br />
                <input type="checkbox" onclick="myFunction()" />
                <label for="password"> Show Password</label><br />
                <br />

                <input
                  type="submit"
                  value="Create"
                  class="btn btn-primary btn-block btn-lg"
                />
              </form>
              <p class="mt-2">
                Have an admin account ? <a href="/adminlogin">Login Here.</a>
              </p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"
      integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
